conf.d/extensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://schema.roboticsapi.org/extensions.xsd"
	elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schema.roboticsapi.org/extensions.xsd">

	<xsd:element name="Extensions" type="Extensions"></xsd:element>


	<xsd:complexType name="Extensions">
		<xsd:sequence minOccurs="1" maxOccurs="unbounded">
			<xsd:element name="Extension" type="Extension"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Extension">
		<xsd:sequence>
    	</xsd:sequence>
		<xsd:attribute name="file" type="xsd:string" use="required"></xsd:attribute>
	</xsd:complexType>

</xsd:schema>
